{% extends 'base.html' %}
{% load i18n %}
{% load dwll %}
{% block title %}{% display_message 'list.title' 'Listado' %}{% endblock %}
{% block body %}
<section class="py-5">
    <div class="container my-5">
        <h1>{% display_message 'list.of' 'Listado' %}</h1>
        <div class="row">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">{% display_message 'cols.actions' %}</th>
                            <th scope="col">{% display_message 'cols.name' %}</th>
                            <th scope="col">{% display_message 'cols.slug' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Cambiar aqui items por el nombre de la entidad en minuscula -->
                        {% for item in items_list %}
                        <tr>
                            <th scope="row"></th>
                            <td scope="col">{{item.name}}</td>
                            <td scope="col">{{item.slug}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>            
        </div>
    </div>
</section>
{% endblock %}