"""

Module {{app.name}} Forms Documentation

"""
from allauth.account.forms import SignupForm

from django import forms

from dwll import messages, mixforms

from . import models

class SignupProfileForm(SignupForm, mixforms.CommonForm):
    """

    Crea un Perfil

    :description Form para crear un Perfil

    """

    def __init__(self, *args, **kwargs):
        """
        Init
        :description Inicializacion de campos
        :param args:
        :param kwargs:
        :return:
        """
        self.request = kwargs.pop('request')
        super(ProfileUpdateForm, self).__init__(*args, **kwargs)

        self.text_config('identification')
        self.fields['language'].widget.attrs['class'] = 'form-control'

    def save(self):
        """
        Salva / Actualiza el process step
        :return:
        """
        entity = super(ProfileUpdateForm, self).save(commit=False)
        entity.save(request=self.request)

        return entity


class ProfileUpdateForm(forms.ModelForm, mixforms.CommonForm):
    """

    Actualiza un Perfil

    :description Form para actualizar un Perfil

    """

    class Meta:
        model = models.Profile
        exclude = ("status", "creation_user", "modificacion_user", "creation_date", "modification_date")

    def __init__(self, *args, **kwargs):
        """
        Init
        :description Inicializacion de campos
        :param args:
        :param kwargs:
        :return:
        """
        self.request = kwargs.pop('request')
        super(ProfileUpdateForm, self).__init__(*args, **kwargs)

        self.text_config('identification')
        self.fields['language'].widget.attrs['class'] = 'form-control'

    def save(self):
        """
        Salva / Actualiza el process step
        :return:
        """
        entity = super(ProfileUpdateForm, self).save(commit=False)
        entity.save(request=self.request)

        return entity
    
            