<!-- IMPORTANT: Replace {} with {} in django templates code -->
{% load dwll %}
<header id="header" class="fixed-top ">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand logo" href="/">
                {% display_message request 'app.name' %}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item drop-down">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarAccount" role="button" 
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ri-user-fill"></i>&nbsp;{% display_message request 'menu.use' %}</a>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarAccount">
                            {% if user.is_authenticated and user.profile %}
                            <li>
                                <a class="dropdown-item" 
                                    href="{% url 'update_profile' pk=user.profile.id %}">
                                    {% display_message request 'menu.updateprofile' %}
                                </a>
                            </li>
                            {% endif %} 
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
