"""

Module {{app.name}} Models Documentation

"""
from django.db import models
from django.contrib.auth.models import User
from dwll.pictures import UploadPicturesUtil
from dwll import mixins
from dwll.models import Language

class Profile(mixins.AuditMixinCode):
    """

    Entity Profile

    :description Model to storage extended data of users

    """
    user = models.OneToOneField(
        User, on_delete=models.CASCADE, blank=True, null=True)
    identification = models.CharField(max_length=20, blank=True, null=True)
    picture = models.ImageField(max_length=300, upload_to=UploadPicturesUtil.profile_picture,
                                validators=[UploadPicturesUtil.validate_small], blank=True, null=True)
    language = models.ForeignKey(Language, blank=True, null=True, on_delete=models.PROTECT)